body {
    margin: 0;
    padding: 0;
}
#logo {
    float: left;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    margin-left: 30px;
    font-size: 30px;
    color: ivory;
    opacity: 0.60;
}
#home-img {
    object-fit: cover;
    object-position: 10% 50%;
    width: 55%;
    height: 100vh;
    opacity: 0.95;
    filter: brightness(60%);   
} 

#hero-image {
    position: relative;
    background: linear-gradient(to right, navy, coral);
    height: 100vh;
}

#overlay-container {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: 0;
    margin-left: 66%;
    text-align: center;
    color: antiquewhite;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    
}

#overlay-title {
    line-height: 50px;
    font-size: 45px;
    margin-top: 110px;
    border-bottom: 6px solid #22252C;
    padding-bottom: 20px;
}

#overlay-container p {
    line-height: 1.65;
    font-size: 17px;
    font-style: italic;
    margin-top: 30px;
    padding: 0px 20px 0px 20px;
}

figcaption {
    font-style: italic;
    color: ivory;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

form {  
    text-align: center;
}

input {
    border: 1px solid ;
    background: transparent;
    color: ivory;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    width: 200px;
    box-shadow: 10px 10px 20px #22252C;  
    animation: right-to-left 1s ease-in;
}

@keyframes right-to-left {
    0% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(100%);
    }
}

input:hover {
    border: 1px solid ivory;
    background-color: coral;
    opacity: 0.5;
    cursor: pointer;
}

#about-img {
    width: 65%; 
    height: 100vh;
    opacity: 0.95;
    margin: 0px;
    padding: 0px;
    filter: brightness(60%);
}

#hobbies-img {
    width: 100%; 
    height: 100vh;
    opacity: 0.95;
    filter: brightness(60%);
    
}

#accomp-img {
    width: 100%; 
    height: 100vh;
    opacity: 0.95;
    filter: brightness(60%);
    
}

#nav-bar {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
}

li {
    list-style-type: none;
    display: inline;
    float: right;
    padding-bottom: 15px;
    margin-right: 25px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 1.10em;
}

li a {
    
    color: ivory;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    color: coral;
    border-bottom: 3px solid coral;
    padding-bottom: 5px;
}

#about-img-container {
    position: relative;
    background-color: #22252C;
    background: linear-gradient(to right, navy, coral);
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    height: 100vh;
    margin: 0px;
}

#cali-img {
    position: absolute;
    top: 25%;
    right: 25px;
    width: 450px;
    height: 350px;
    box-shadow: 20px 20px 20px coral;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); 
    margin: 0px;
    border-radius: 50px;
    object-fit: cover;
    opacity: 0.80;
}

#cali-img:hover {
    transform: scale(1.10);
}

#about-img-container form {
    margin: 0px;
    position: absolute;
    top: 85%;
    right: 10%; 
}

#about-img-container form input {
    border: 1px solid ;
    background: transparent;
    color: ivory;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    width: 200px;
    box-shadow: 10px 10px 20px #22252C;  
    animation: right-to-left 1s ease-in;
}

#about-img-container form input:hover{
    opacity: 0.8;
    background-color:coral;
    border-color: coral;
}

#about-me-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#about-me-contents {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 10%;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 27px;
    padding-left: 30px;
    position: relative;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}

#about-me-contents h2 {
    margin-left: -40px;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 12px;
    color: coral;
    text-shadow: 4px 4px grey;

}

#about-me-contents p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.25;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-right: 30px;
}

#about-me-contents img {
    position: absolute;
    height: 80%;
    width: 80%;
    margin-left: -275px;
    margin-top: -630px;
    border-radius: 400px;
    z-index: -1;
    opacity: 0.35;
}

#about-me-img {
    text-align: center;
    margin: 105px 75px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: -5px 5px 5px #22252C;
    background-color: #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#about-me-img img {
    margin-top: 75px;
    height: 75%;
    width: 75%;
    border-radius: 5px;
    filter: brightness(100%);
}

#about-me-img img:hover {
    transform: scale(1.05);
    filter: brightness(80%);
    
}

#hobbies-title h1 {
    text-align: center;
    text-shadow: 4px 4px grey;
    text-transform: uppercase;
    color: #22252C;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding: 5px;
    margin: 30px;
}

#hobby-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-img-container {
    position: relative;
}

#hobby-img-container form {
    position: absolute;
    top: 85%;
    left: 10%;  
}

#hobby-img-container form input {
    border: 1px solid ;
    background: transparent;
    color: ivory;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    width: 200px;
    box-shadow: 10px 10px 20px #22252C;  
    animation: left-to-right 1s ease-in;
    width: 280px;
}

#hobby-img-container form input:hover {
    border-color: ivory;
    opacity: 0.5;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-200%);
    }
}

#hobby-img-container p {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: 20%;
    margin-left: 66%;
    text-align: center;
    color: antiquewhite;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
    text-transform: uppercase;
    animation: right-to-left 1s ease-in;
}

#quote {
    font-size: 30px;
    margin-top: 20px;
}

#accomplishment-title h1 {
    text-align: center;
    text-shadow: 4px 4px grey;
    text-transform: uppercase;
    color: #22252C;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding: 5px;
    margin: 30px;
}

#accomplishment-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    margin-top: 15px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-img-container {
    position: relative;
}

#acc-img-container p {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: 22%;
    margin-left: 66%;
    text-align: center;
    color: antiquewhite;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
    text-transform: uppercase;
    animation: right-to-left 1.2s ease-in;
}

footer {
    position: relative;
    background-color: coral;
    height: 50px;
    
}

footer p {
    position: absolute;
    left: 41%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #22252C;
}

#acc-1 {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -5px 5px 5px #22252C;
    margin: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-image: url(images/background7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-2 {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -5px 5px 5px #22252C;
    margin: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-image: url(images/background8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-3 {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: -5px 5px 5px #22252C;
    margin: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-image: url(images/background7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    object-fit: contain;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-1 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);
    
}

#acc-2 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);
}

#acc-3 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);
}

#acc-1 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-2 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-3 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#acc-1 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

#acc-2 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

#acc-3 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

#hobby-1 {
    border: 1px solid coral;
    border-radius: 20px;
    box-shadow: -5px 5px 5px coral;
    margin: 10px;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-2 {
    border: 1px solid coral;
    border-radius: 20px;
    box-shadow: -5px 5px 5px coral;
    margin: 10px;
    background-image: url(images/background5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-3 {
    border: 1px solid coral;
    border-radius: 20px;
    box-shadow: -5px 5px 5px coral;
    margin: 10px;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-1 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);
       
}

#hobby-2 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);   

}

#hobby-3 img {
    width: 75%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);   
}

#hobby-1 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-2 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-3 img:hover {
    transform: scale(1.10);
    filter: brightness(100%);
    box-shadow: -5px 5px 5px #22252C;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#hobby-1 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

#hobby-2 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

#hobby-3 p {
    font-style: italic;
    font-size: 15px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    color: #22252C;
}

em {
    color: #22252C;
    font-size: 50px;
    padding-top: 15px;
    text-shadow: 3px 3px grey;
}

#faq {
    background-image: url(images/background1.jpg);
    object-fit: cover;
}

#faq h1 {
    color: #22252C;
}

#faq-header {
    text-align: center;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    background-color: coral;
    height: 90px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 17px;
}


